nav.navigation
  a.navigation__link(href="/") Hermann

  ul.navigation__list
    li.navigation__list__item
      a.navigation__list__link(href="/details") Details

    li.navigation__list__item
      a.navigation__list__link(href="/contact") Contact
