@font-face {
  font-family: $font-blowbrush;
  src: url("../fonts/blowbrush.otf") format("opentype"),
    url("../fonts/blowbrush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
