extends ../base.pug

block variables
  - var template = 'details'

block content
  .details(data-background="hsl(180, 100%, 50%)" data-color="#37384C")
    h1 Content Page
    p More about this project
